<!-- owners-details-dialog.component.html -->
<div>
  <h2>Owners Details</h2>
  <div id="slickGridContainer" style="max-height: 300px; overflow-y: auto;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Ownership Duration</th>
          <th>Owner Info</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let owner of data">
          <tr>
            <td>
              <p>From: {{ owner.owners.ownershipDurationFrom }}</p>
              <p>To: {{ owner.owners.ownershipDurationTo }}</p>
              <!-- <p>Number of Owners: {{ owner?.numOwners }}</p> -->
            </td>

            <td>
                <div>
                  <p>Owner name: {{ owner.owners.name }}</p>
                  <p>Contact Information: {{ owner.owners.contactNumber }}</p>
                  <p>Address: {{ owner.owners.address }}</p>

                  <!-- <p>Market Value: {{ owners.marketPrice }}</p> -->
                  <p>Consideration Value: {{ owner.transaction.purchasePrice }}</p>
                  <p>Date of Transaction: {{ owner.transaction.dateOftransaction }}</p>
                  <p>Transaction Type: {{ owner.transaction.transactionType}}</p>
                  <p>Land Usage History: {{owner.transaction.landUsageHistory  }}</p>
                  <p>Name of Executant/Seller: {{ owner.transaction.sellerName  }}</p>
                  <!-- <p>Boundary Details :</p>
                  <p>North: {{  }}</p>
                  <p>South: {{  }}</p>
                  <p>East: {{  }}</p>
                  <p>West: {{  }}</p> -->



                  <!-- Add a line break between each set of details -->
                  <br>
                </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <button (click)="closeDialog()">Back</button>
    <!-- <button >Download</button> -->

  </div>

</div>
